.counter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 300px;
    margin: 50px;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 250px;
    border: 3px solid #ae5c6a;
    margin: 20px;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    border: 3px solid #ae5c6a;
    margin: 20px;
    padding: 10px;
}